#main
{
    /*width: 1000px;
    height: 400px;*/

}
#left
{
    width:333px;
    height: 150px;
    float: left;
    margin-left:50px;
    margin-bottom: auto;
    color:darkturquoise;

}
#right
{

    width: 333px;
    height: 150px;
    float: right;
    margin-left: auto;
    margin-right: 50px;

}
#center
{

    width: 333px;
    height: 150px;
    margin-left: auto;
    margin-right: auto;

}